*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
  color: #fff;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  background-color: #ffffff;
  background-image: url("../img/synthwave_background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: #fff;
  color: #fff;
}

strong {
  background-color: #333;
  border-radius: 5px;
}

/* navbar ------------------------------------------------------------------------*/
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #e60073;
  overflow: hidden;
  z-index: 1000;
  text-align: center;
}

/* Style the links inside the navigation bar */
#navbar span,
a {
  transition: 0.3s;
}

/* Change the color of links on hover */
#navbar span:hover,
a:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073,
    0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
}

.nav-list {
  list-style-type: none;
  display: none;
}

.nav-list > li {
  margin: 15px auto;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
  .navbar-toggle {
    display: none;
  }
}

/*icon------------------------------------------------------------*/
.github {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid #e60073;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 999;
}
.github > a {
  font-size: 35px;
}

/*wrapper---------------------------------------------------------------------- */
#wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

section {
  padding-top: 50px;
}

/* home/section 1---------------------------------------------------------------------- */
#home {
  padding-top: 100px;
  min-height: 100vh;
  text-align: center;
}
@media screen and (max-width: 600px) {
  #home {
    min-height: 0;
  }
}

.sun {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: yellow;
  background-image: linear-gradient(red, yellow), linear-gradient(black, white);
  clip-path: polygon(
    -50% 0px,
    150% -50%,
    150% 55%,
    -50% 55%,
    -50% 62%,
    150% 62%,
    150% 70%,
    0 70%,
    -50% 75%,
    150% 75%,
    150% 80%,
    0 80%,
    -50% 82%,
    150% 82%,
    150% 85%,
    0 85%,
    -50% 87%,
    150% 87%,
    150% 90%,
    0 90%,
    -50% 92%,
    150% 92%,
    150% 95%,
    0 95%,
    -50% 96%,
    150% 96%,
    150% 150%,
    0 150%
  );
  box-shadow: rgba(255, 128, 0, 0.7) 0px 0 20px;
}

/*title----------------------------------------------------------------------- */

.text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.title {
  font-size: 4em;
}
.subtitle {
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 40px;
  }
}

.chrome {
  font-weight: 900;
  text-transform: uppercase;
  background-image: linear-gradient(
    #2989cc 0%,
    #d3e5ec 50%,
    #592451 51%,
    #b3628d 55%,
    #592451 59%,
    #b3628d 65%,
    #ac86a6 75%,
    #b3628d 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
}

.glow {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

/*section2/work-------------------------------------------------------------- */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#gallery > .img-box {
  display: flex;
  flex: 0 1 auto;
  width: 48%;
  height: 40vh;
  margin: 1%;
  position: relative;
}

#gallery > .img-box > img {
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: transform 0.4s ease;
  object-fit: cover;
  border: 1px solid #e60073;
  border-radius: 5px;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e60073;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.8);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.opacity-low {
  opacity: 0.7;
  font-size: 0.8em;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #gallery > .img-box {
    width: 100%;
  }
}

/*section3/about------------------------------------------------------------- */
.card {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid #e60073;
  border-radius: 5px;
  margin: 0 1% 10px 1%;
  padding: 16px;
}

.blurb {
  font-size: 1.25em;
}

.flex-grid {
  display: flex;
  justify-content: space-around;
}

/* Style the counter cards */
.col {
  width: 32%;
}

.ol > i {
  font-size: 32px;
}

@media screen and (max-width: 600px) {
  .flex-grid {
    display: block;
  }
  .col {
    width: 100%;
    margin-bottom: 10px;
  }
}

/*section4/contact----------------------------------------------------------- */
form {
  max-width: 500px;
  margin: 50px auto;
}

.feedback-input {
  margin-bottom: 15px;
  border: 1px solid #e60073;
  border-radius: 5px;
  padding: 13px;
  width: 100%;
  line-height: 22px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.25s;
}

.feedback-input:focus {
  color: #0e0e0e;
  background-color: #fefefe;
  outline: none;
}

form > textarea {
  height: 150px;
  resize: vertical;
}

.button {
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid #e60073;
  border-radius: 5px;
  transition: all 0.5s;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:hover span {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073,
    0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
}
